[flake8]
exclude =
    # IDE tooling etc.
    .git,
    .vscode,
    # Python
    __pycache__,
    .ipynb_checkpoints,
    # ebisim
    ebisim/resources
    #build release etc
    ebisim.egg_info
    docs/build
    test # to be removed
    #Decide whether to keep
    temp

max-line-length = 120

per-file-ignores =
    # whitespace in adv_rhs
    ebisim/simulation/_advanced.py:E221